	<!-- WRAPPER -->
	<div id="wrapper">
		{{> menu}}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">

				{{> headline}}

					<div class="row">
						<div class="col-md-12">
							<!-- MY OWM-->
							<div class="panel" id="mis-suscripciones">
								<div class="panel-heading">
									<h3 class="panel-title"> Actividad Reciente</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>

									</div>
									<br>
									<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
				                        <li role="presentation" class="active"><a href="#todas" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Todas</a>
				                        </li>
				                        <li role="presentation" class=""><a href="#bitcoin" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Bitcon</a>
				                        </li>

				                  </ul>
								</div>

								<div class="panel-body no-padding">
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade active in" id="todas" aria-labelledby="home-tab">
										{{#if transacciones}}
										<table class="table table-hover table-condensed">
										<thead>
												<tr>
													<th>Remitente</th>
													<th>Destinatario</th>
													<th>Cantidad</th>
													
												</tr>
											</thead>
											<tbody>
												{{#each transacciones}}
												<tr>
													<th>{{de}}</th>
													<td><a href="#">{{para}}</a></td>
													<td>{{value}}</td>
													<td>{{fee}}</td>
													<!--td>{{descripcion}}</td-->
													<td>{{status}}</td>
													<td>{{moneda}}</td>
													<td>{{fecha}}</td>
													<!--td><button class="btn btn-danger btn-sm"><span class="fa fa-remove"></span></button></td-->
												</tr>
												{{/each}}											
											</tbody>
										</table>
										{{else}} 
											<h3>No existen registros</h3>
										{{/if}}
										</div>
										<div role="tabpanel" class="tab-pane fade" id="bitcoin" aria-labelledby="profile-tab">
	                         			{{#if transacciones}}
										<table class="table table-hover table-condensed">
										<thead>
												<tr>
													<th>Destinatario</th>
													<th>Cantidad</th>
													<th>Comision</th>
													<th>Estatus</th>
													<th>Moneda</th>
													<th>Fecha</th>
												</tr>
											</thead>
											<tbody>
												{{#each transacciones}}
												<tr>
													<td><a href="#">{{para}}</a></td>
													<td>{{cantidad}}</td>
													<td>{{fee}}</td>
													<!--td>{{descripcion}}</td-->
													<td>{{status}}</td>
													<td>{{moneda}}</td>
													<td>{{fecha}}</td>
													<!--td><button class="btn btn-danger btn-sm"><span class="fa fa-remove"></span></button></td-->
												</tr>
												{{/each}}											
											</tbody>
										</table>
										{{else}} 
											<h3>No existen registros</h3>
										{{/if}}
			                  			</div>
									</div>
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i>Ultima semana</span></div>
								</div>
							</div>
							</div>
							<!-- /MY OWM-->
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Tu Balance</h3>
								</div>
								<div class="panel-body">
									<div id="demo-area-chart" class="ct-chart"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Precios</h3>
								</div>
								<div class="panel-body">
									<div id="multiple-chart" class="ct-chart"></div>
								</div>
							</div>
						</div>
					</div>
					

				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		{{> footer }}
	</div>
	<!-- END WRAPPER -->
<script src="../assets/vendor/chartist/js/chartist.min.js"></script>
	    <script src="../assets/vendor/chartist/data.js"></script>